.doctor {
    margin: 5px;
    border: 1px solid #b4a8ce;
    border-radius: 5px;
    background-color: #e4dded;
}

.doctor-name {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Arial";
    font-size: 11px;
}

.image {
    max-height: 100px;
    border-radius: 5px;
    margin: 6px 6px 0 6px;
}